{% extends "base.html" %}

{% block title %}SERBER - main{% endblock %}

{% block body %}



    <h5>Current contract: <i>{{ contract_account }}</i></h5>
    <h5>Current RPC: <i>{{ rpc_url }}</i></h5>
    <br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Updated</th>
            <th scope="col">Balance</th>
            <th scope="col">Drop Balance</th>
            <th scope="col">Staked CPU</th>
            <th scope="col">Staked RAM</th>
            <th scope="col">Key</th>
        </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.update_time.strftime('%d %b, %H:%M:%S') }}</td>
                <td>{{ account.balance }}</td>
                {% if contract_account == "neftyblocksd" %}
                    <td>{{ account.nefty_drop_balance }}</td>
                {% elif contract_account == "atomicdropsx" %}
                    <td>{{ account.atomic_drop_balance }}</td>
                {% endif %}
                <td>{{ round(account.cpu, 2) }}%</td>
                <td>{{ round(account.ram, 2) }}%</td>
                <td>...{{ account.private_token[-10:] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" name="update_button" id="update_button">Update</button>
    <br>
    <br>


    <h4>Add account</h4>
    <br>
    <div class="row">
        <div class="col">
            <form method="post" action="{{ url_for('api.set_keys') }}">
                <div class="form-group">
                    <textarea name="private_keys_placeholder" class="form-control" id="private_keys_placeholder"
                              rows="5"></textarea>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col">

        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script>
        $(document).ready(function () {
            // Listen to click event on the submit button
            $('#update_button').click(function (e) {

                e.preventDefault();


                $.ajax({
                    type: "POST",
                    url: Flask.url_for('api.update_accs_info'),
                    dataType: "json",
                    success: function (result) {
                        console.log("Request sended")
                    },
                    error: function (result) {
                        console.log("Error while sending request: " + result)
                    }
                })
                console.log("Sending request...")
            });
        });
    </script>
{% endblock %}